.about__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.about__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 50px;
}


.about__img {
  background-image: url(../img/imges.jpg);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 600px;
  height: 596px;
}
.about__wrapper {
  display: flex;
  flex-direction: column;
  flex: 0 1 500px;
}

.about__text-wrapper {
  margin-bottom: 55px;
}

.about__text {
  line-height: 28px;
  margin-bottom: 28px;
  white-space: pre-line;
}

.about__text:last-child {
  margin-bottom: 0;
}

.quote {
  position: relative;
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 38px;
  padding-left: 30px;
}

.quote:before,
.quote:after {
  font-size: 44px;
  font-weight: 900;
  line-height: 50px;
  text-transform: uppercase;
  color: #6C0287;
}

.quote::before {
  content: "“";
  position: absolute;
  top: -11px;
  left: 0;
}

.quote:after {
  position: absolute;
  bottom: 0;
  right: 110px;
}

.quote__text {
  display: inline-block;
  text-align: initial;
}

.quote:after {
  content: "”";
}

.about__author {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  gap: 30px;
}

.about__author-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  object-position: 100% 22%;
  border-radius: 50%;
}

.about__author-caption {
  flex: 0 1 280px;
  padding-right: 10px;
}

.about__author-text {
  line-height: 28px;
  font-style: normal;
}