.banner .container {
  height: 823px;
  position: relative;
}

.banner .container:before {
  content: "";
  width: 675px;
  height: 762px;
  position: absolute;
  bottom: 0;
  right: 30px;
  background: url("../img/person-vr.png") no-repeat;
}

.banner__title {
  font-size: 150px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -15px;
  line-height: 150px;
  padding: 0;
}

.banner__description {
  font-size: 28px;
  line-height: 50px;
  padding-left: 100px;
  margin-bottom: 30px;
}

.feature {
  display: flex;
  gap: 22px;
  margin-bottom: 150px;
}

.feature__item {
  max-width: 195px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.feature__item-title {
  color: #CD06FF;
  font-size: 62px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 92px;
}

.feature__item-title--big {
  font-size: 100px;
  line-height: 141px;
}

.feature__item-text {
  font-size: 30px;
  text-align: center;
}

.banner__button {
  border-radius: 10px;
  background: #6C0287;
  color: inherit;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 26px;
  cursor: pointer;
  padding: 25px 69px;
  /* filter: blur(10px); */
}

.banner__scroll-to-next-block {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 90px;
  height: 97px;
}