.contacts {
  padding-top: 50px;
  padding-bottom: 51px;
}

.contacts__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 54px;
}

.contacts__wrapper {
  margin-bottom: 40px;
}

.contacts__item {
  position: relative;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  padding-left: 65px;
}

.contacts__city {
  margin-bottom: 38px;
}

.contacts__number {
  margin-bottom: 11px;
}

.contacts__item::before {
  content: "";
  display: block;
  width: 34px;
  height: 32px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%); 
  background-repeat: no-repeat;
  cursor: pointer;
}

.contacts__city::before {
  background-image: url(../img/location.svg);
}

.contacts__number::before {
  background-image: url(../img/phone.svg);
}

.contacts__email::before {
  background-image: url(../img/mail.svg);
}

.social-list {
  display: inline-block;
  font-size: 0;
}

.social-list__item {
  display: inline-block;
}

.social-list__link:hover {
  color: #cd06ff;
}

.social-list__item:not(:last-child) {
  margin-right: 26px;
}