.entertainment__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 40px;
  padding: 0 150px;
}

.entertainment__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
}

.entertainment__list-item {
  flex-basis: 380px;
}

.list-item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 20%;
  width: 100%;
  min-height: 228px;
}

.list-item--vr {
  background-image: url(../img/vr.jpg);
}

.list-item--audio {
  background-image: url(../img/audio.jpg);
}

.list-item--karaoke {
  background-image: url(../img/micro.jpg);
}

.list-item--board-games {
  background-image: url(../img/game.jpg);
}

.list-item--movie {
  background-image: url(../img/netflix.jpg);
}

.list-item--playstation {
  background-image: url(../img/sony.jpg);
}

.list-item__text {
  display: flex;
  align-items: end;
  font-weight: 700;
  line-height: 28px;
  height: 228px;
  padding: 0 40px 20px;
  /* padding: 166px 40px 0; */
}

.list-item__text--padding-6 {
  padding-bottom: 6px;
}