.question-block__title {
  padding-left: 40px;
}

.list {
  padding: 0;
  margin: 0;
}

.list__item {
  list-style: none;
  background-color: #fff;
  color: #1C1A1A;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding: 30px 70px 29px;
  height: 87px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list__item:not(:last-child) {
  margin-bottom: 20px;
}

.list__item:nth-child(even) {
  color: #ffffff;
  background-color: #440F51;
}

.list__item:nth-child(odd):after {
  content: url(../img/open-purple.svg);
}

.list__item:nth-child(even):after {
  content: url(../img/open.svg);
}

.list__item:after {
  display: inline-block;
  width: 46px;
  height: 46px;
}