.halls {
  padding-bottom: 100px;
}

.halls__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 60px;
}

.halls__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.halls__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 1 580px;
  min-height: 349px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 50px 0;
}

.halls__list-subtitle {
  max-width: 270px;
}

.halls__text {
  position: relative;
  display: block;
  max-width: 448px;
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.halls__text::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.halls__list-item--vibes {
  background-image: url(../img/80vibes.jpg);
}

.halls__list-item--starwars {
  background-image: url(../img/star-wars.jpg);
}

.halls__list-item--wildwest {
  background-image: url(../img/wild-west.jpg);
}

.halls__list-item--neon {
  background-image: url(../img/neon-style.jpg);
}
