.halls {
  padding-bottom: 100px;
}

.halls__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 60px;
}

.halls__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.halls__list-item {
  width: 580px;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  padding: 95px 105px;
}

.halls__text {
  max-width: 448px;
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.halls__list-item--vibes {
  background-image: url(../img/80vibes.jpg);
}

.halls__list-item--starwars {
  background-image: url(../img/star-wars.jpg);
}

.halls__list-item--wildwest {
  background-image: url(../img/wild-west.jpg);
}

.halls__list-item--neon {
  background-image: url(../img/neon-style.jpg);
}
