* {
  box-sizing: border-box;
}

body {
  background-color: #1b1a1b;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.quote {
  text-transform: uppercase;
}

.wrapper {
  width: 1440px;
  padding: 146px 130px;
  margin: 0 auto;
}

.section:not(:first-child) {
  padding-top: 50px;
  padding-bottom: 50px;
}